* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    background-color: rgb(184, 114, 188);
}

h1 {
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;
    font-size: 34px;
}

.choice {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.choice:hover{
    opacity: 0.8;
    cursor: pointer;
    background-color: #081b31;
}
img {
    
    height: 182px;
    width: 186px;

}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    gap: 0.8rem;

}

 .score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 10rem; 
    margin-top: 5rem;
 }

 #user-score,
 #comp-score{
    font-size: 4rem;
   
 }
.msg-container{
    margin-top: 4rem;
}
 #msg{
    display: inline;
    background-color: #081b31;
    margin-top: 5rem;
    font-size: 3rem;
    color:white ;
    height: 60px;
    padding: 1rem;
    border-radius: 2rem;
    
    
 }